.github {
  color: #ffffff;
}

.linkedin {
  color: #0077b5;
}

.x-twitter {
  color: #ffffff;
}

.youtube {
  color: #ff0000;
}

.twitch {
  color: #6441a5;
}

.pypi {
  color: #3775a9;
}

.docker {
  color: #0db7ed;
}

.leetcode {
  color: #f89f1b;
}

.bugcrowd {
  color: #F26822;
}

.hackerone {
  color: #494649;
}

.hackthebox {
  color: #9FEF00;
}

.tryhackme {
  color: #212C42;
}

